<base href="http://localhost:4000">
<form class="dangki" action="/Login" enctype="multipart/form-data" method="post">
    <h2>Đăng kí</h2>
    <br>
    <div>
        <h6>
            Username : <input name="username" placeholder="Enter username">
        </h6>
    </div>
    <br>
    <div>
        <h6>
            Password : <input name="password" placeholder="Enter password" type="password">
        </h6>
    </div>
    <br>
    <div>
        <h6>
            Name : <input name="name" placeholder="Enter name">
        </h6>
    </div>
    <br>
    <div>
        <h6>
            Address : <input name="address" placeholder="Enter address">
        </h6>
    </div>
    <br>
    <div>
        <h6>
            Number_Phone : <input name="number_phone" placeholder="Enter number phone">
        </h6>
    </div>
    <br>
    <div>
        <h6>
            <input name="avatar" type="file">
        </h6>
    </div>
    <br>
    <div>
        <button type="submit">Sign Up</button>
    </div>

</form>
<br>