<base href="http://localhost:4000">

<form action="./updateUser" method="post" enctype="multipart/form-data">
    <div>
        <a name="_id" href="./Home">{{dulieu._id}}</a>
    </div>
    <div>
        <input name="userNameUd" placeholder="user name">
    </div>
    <div>
        <input name="passwordUd" placeholder="pass word" type="password">
    </div>
    <div>
        <input name="nameUd" placeholder="name">
    </div>
    <div>
        <input name="addressUd" placeholder="address">
    </div>
    <div>
        <input name="numberPhoneUd" placeholder="number phone">
    </div>
    <div>
        <input name="avatar" type="file" >
    </div>
    <button type="submit">Save</button>
</form>